@font-face {
    font-family: Inter;
    src: url('fonts/Titillium_Web/TitilliumWeb-Bold.ttf');
}

@font-face {
    font-family: TitilliumWebBold;
    src: url('fonts/Titillium_Web/TitilliumWeb-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}